<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">Edit News Items</h3>
<p>Note: Positions 1 - 6 will set the order they appear on the home page  </p>
<p>Note: When Editing you must re-upload the video</p>
Edit <%= @nox %>


<%= form_for :news, :html => {:multipart => true} do |f| %>
  
  

  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :title, :value => @title, :class =>"w3-input w3-border" %>
  </div>


   <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :value => @description, :class =>"w3-input w3-border" %>
  </div>


   <div class="field">
    <%= f.label :Image1 %>
    <%= f.text_field :image1, :value => @image1, :class =>"w3-input w3-border" %>
  </div>


   <div class="field">
    <%= f.label :Image2 %>
    <%= f.text_field :image2, :value => @image2, :class =>"w3-input w3-border" %>
  </div>

     <div class="field">
    <%= f.label :Position %>
    <%= f.text_field :position, :value => @position, :class =>"w3-input w3-border" %>
  </div>



       <div class="field">
    <p>Video to be used: true or fase (use lower case)</p>
    <%= f.text_field :on, :value => @on, :class =>"w3-input w3-border" %>
  </div>

 


  <div class="actions">
    <%= f.submit "Update!", class: "w3-button w3-black w3-right w3-section"  %>
  </div>
<% end %>


</div>