<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">Edit News Items</h3>

Edit <%= @nox %>


<%= form_for :staff, :html => {:multipart => true} do |f| %>
  
  

   <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :name, :value => @name, :class =>"w3-input w3-border" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :value => @description, :class =>"w3-input w3-border" %>
  </div>

<div class="w3-col m12 w3-margin">
    <p><a href="/editstaffimage/<%= @id %>">Click here to change this image</a></p>
  <img src="/assets/<%= @image %>" style="width:40%" onclick="onClick(this)" class="w3-hover-opacity" alt="Happy Kids Pre-School and Montessori | <%= @image %>">
    
</div>



  <div class="actions">
    <%= f.submit "Update!", class: "w3-button w3-black w3-right w3-section"  %>
  </div>
<% end %>


</div>